<div  class="col-6">
<div class="form-floating">
  <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" name="first_name" placeholder="First Name">
  <label for="floatingInput">FIRST NAME</label>
</div>
</div>

<div class="col-6">
<div class="form-floating">
  <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" name="last_name" placeholder="Last Name">
  <label for="floatingInput">LAST NAME</label>
</div>
</div>

<div  class="col-6">
<div class="form-floating ">
  <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" name="email" placeholder="EMAIL">
  <label for="floatingInput">EMAIL</label>
</div>
</div>

<div class="col-6">
<div class="form-floating ">
  <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" name="phone" placeholder="PHONE">
  <label for="floatingInput">PHONE</label>
</div>
</div>

<div class="col-12">
<div class="form-floating ">
  <textarea style="height: 160px;" type="text" class="form-control" id="floatingInput" value="" name="comment" placeholder="commment">{{this.comment}}</textarea>
  <label for="floatingInput">COMMENT</label>
</div>
</div>

<div class="col-12 d-grid">
 <button style="background-color: #4793AF; color: white; " class="btn  mb-3" type="submit">Submit</button>
</div>